
/.env
.DS_Store
/dataset
/dataset_w_new_data
/dataset_right_split
/dataset_no0_w_new_data
/dataset_no0_0.2
/dataset_no0_new_archive
/dataset_no_overfitt
/dataset_newone
/dataset_complete
/dataset_no0_w_new_data_normalize_distribution_917
